extends main.pug 

block content
    div.container.p-4.my-5.bg-light
        h1(style="color:blue") Vista de Productos 
        br
        if products.length != 0
            table.table.table-dark
                thead
                    th Nombre
                    th Precio
                    th Foto
                each product in products
                    tbody
                        tr
                            td=product.title
                            td=product.price
                            td 
                                img(src=product.thumbnail, height="50rem")
        else 
            h3(style="background-color:aquamarine") No se encontraron productos
        br
        form(action="/" method="GET")
            button(type="submit").btn.btn-primary Ir al formulario de carga de productos
